@import url(assets/global.css);
@import url(assets/firstpage.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Tangerine:wght@400;700&display=swap');

body{
    background-color: var(--color-background);
     background:
    radial-gradient(circle at 20% 20%, rgba(231, 188, 145, 0.45), transparent 25%),
    radial-gradient(circle at 80% 10%, rgba(88, 49, 1, 0.12), transparent 22%),
    radial-gradient(circle at 70% 80%, rgba(243, 213, 181, 0.7), transparent 30%),
    var(--color-background);
      overflow-x: clip;

}

