header{

    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;

    & figure{
        display: flex;
        align-items: center;
        gap: 0.5rem;

        & img{
            width: 5rem;
        }

       
    }
    
    & nav{
        gap: 1rem;
        margin-inline: 1rem;
        
        & ul{
            display: flex;
            gap: 1rem;
            list-style: none;

        }

        & ul > li{
            cursor: pointer;
            transition: transform 0.3s ease;
        }

        & a{
            font: var(--paragraph);
            color: var(--color-text);
            text-decoration: none;
        }
    }

    
}

.nav-list > li:hover{
    transform: scale(1.05);
}

/* Responsividade */

@media (max-width: 767px) {

  .nav-list {
    display: none;
  }

  header {
    white-space: nowrap;
    justify-content: center;
  }

}

