*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

:root{
    --color-accent: #583101;
    --color-background: #FFEDD8;
    --color-text: #8B5E34;

    --font-Raleway:"Raleway", sans-serif;
    --font-tangerine:"Tangerine", cursive;
    --font-inter: "Inter", sans-serif;

    --h1: 800 6rem/120% var(--font-tangerine);        /* 64px */
    --h2: 800 3rem/120% var(--font-Raleway);        /* 48px */
    --h3: 400 2.5rem/160% var(--font-tangerine);        /* 32px */
    --span: 500 1rem/100% var(--font-Raleway);  /* 14px */
    --paragraph: 400 1rem/160% var(--font-Raleway); /* 16px */
}

/* Utilitários de texto e estilos reutilizáveis */

.text-accent {
  color: var(--color-accent);
}

.text-default {
  color: var(--color-text);
}

.h3 {
  font: var(--h3);
}

.bold {
  font-weight: bold;
}